/* 25px
:#489be8, f8f2ee [brand]
brand, #fff [whitespace]
#cfcfcf/ [borders]
rgba(0, 0, 0, 0.7) [text]
*/

/* start init */

* {
   margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.4;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  color: rgba(0, 0, 0, 0.7);
  overflow-wrap: break-word;
  box-sizing: border-box;
}

ul {
  margin-left: 30px;
}

h1 {
	font-size: 2.3em;
	font-weight: 700;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.9);
}

h2 {
	font-size: 1.7em;
	font-weight: 700;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 25px;
}

h3 {
	font-size: 1.4em;
	font-weight: 700;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 25px;
}

h4 {
	font-size: 1.2em;
	font-weight: 700;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 15px;
}

p {
	font-size: 1em;
	font-weight: 400;
  margin-bottom: 25px; /*25px for paragraphs*/
}

a {
  color: #5294e2;
  text-decoration: none;
}

hr {
  height: 1px;
  margin: 25px 0;
  border: 0;
  background-color: #cfcfcf;
}

/* start the page */

body {
  background-color: #f8f2ee;
}

/* header */

header {
  line-height: 75px;
  height: 75px;
  padding: 0 25px;
  box-shadow: 0 2px 9px 3px rgba(0, 0, 0, 0.1);
  background-color: #f8f2ee;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #fff;
}

.headerTitle {
  line-height: 75px;
  height: 75px;
  font-family: "Righteous", "Open Sans", sans-serif;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.9);
}

.logo {
  max-width: 30px;
  vertical-align: text-bottom;
  padding-bottom: 5px;
  margin-left: -4px;
}

nav {
  float: right;
  display: grid;
  line-height: 75px;
  height: 75px;
  grid-gap: 25px;
  grid-template-columns: auto auto;
}

.navLink {
  line-height: 75px;
  height: 75px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.2em;
  font-family: "Righteous", "Open Sans", sans-serif;
  display: inline-block;
}

/* page */

main {
  padding: 125px 25px 50px;
}

/* cards */

.cardTitle {
  background-color: #489be8;
  padding: 0;
  text-align: center;
  color: #fff;
  font-weight: 400;
  margin: -25px -25px 25px -25px;
}

.cardTitleH3 {
  padding: 20px 25px;
}

.cardTitleH2 {
  padding: 25px;
}

.wrapCard {
  padding: 25px;
  margin: 0 auto;
  max-width: 400px;
}

.card {
  background-color: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 8px;
  padding: 25px;
}

/* index */

.quackList {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* logsign */

.text {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  border: 1px solid #cfcfcf;
  background-color: #f8f2ee;
  padding: 10px;
  border-radius: 8px;
}

.text:focus {
  border-color: #489be8;
}

.btn {
  background-color: #489be8;
  display: block;
  width: 100%;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  font-weight: 700;
}

.btn:hover {
  cursor: pointer;
}

.btnLight {
  border: 2px solid #489be8;
  padding: 8px;
  color: #489be8;
  background-color: transparent;
}

/* user */

.cols2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 25px;
}

.quackPlus {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background-color: #489be8;
  border-radius: 50%;
  padding: 8px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.plus {
  display: block;
  width: 16px;
  transition: all 0.2s ease;
}

.label {
  font-size: .8em;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 5px 0;
  display: block;
}

.sidebarIn {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  font-size: .8em;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
  background-color: #f8f2ee;
  padding: 25px;
  position: relative;
  border-radius: 8px;
}

.sidebarInImg {
  width: 16px;
  margin-right: 8px;
  vertical-align: middle;
}

.sidebarInSmall {
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.details {
  margin: 0;
  padding: 12px 18px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #f8f2ee;
}

.sidebarInItemColored {
  background-color: #489be8;
  color: #fff;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
}

.sidebarPlus {
  position: absolute;
  bottom: -16px;
  left: calc(50% - 16px);
  background-color: #489be8;
  border-radius: 50%;
  padding: 8px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

/* quack page */

.quack {
  border: 2px solid #cfcfcf;
  position: relative;
  /* in case .quack doesn't have a .card as well */
  border-radius: 8px;
  padding: 25px;
  overflow: hidden;
}

footer {
  max-width: 900px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
}
@media (min-width: 600px) {
  .cols2 {
    grid-template-columns: 23fr 8fr;
  }
  .sidebar {
    min-width: 250px;
  }
}
